<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>스프링 게시판 - 상세 보기</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/board/css/detail.css">
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
<div class="container">
    <th:block th:insert="~{layout/common :: nav-header}">
        <h1>게시글 상세 정보</h1>
        <div class="nav">
            <a th:href="@{/news}">목록으로</a>
            <a th:href="@{/news/write}">새 글 쓰기</a>
        </div>
    </th:block>
    <table style="margin-bottom: 20px;">
        <tr>
            <th style="width: 20%;">번호</th>
            <td th:text="${news.id}">3</td>
        </tr>
        <tr>
            <th>제목</th>
            <td th:text="${news.title}"></td>
        </tr>
        <tr>
            <th>작성자</th>
            <td th:text="${news.nickname}"></td>
        </tr>
        <tr>
            <th>작성일시</th>
            <td th:text="${#temporals.format(news.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        <tr>
            <th>내용</th>
            <td  th:text="${news.content}" style="white-space: pre-wrap;">리뷰 글</td>
        </tr>
        <!--
        <tr>
            <th>이미지</th>
            <td>
                <img th:each="image : ${images}" th:if="${post.image != null}"
                     th:src="@{/images/{image}(image=${image})}" width="300">
            </td>
        </tr>
        -->
    </table>
    <!-- 댓글 출력 -->
    <!--
    <h3>댓글</h3>

    <div th:if="${#lists.isEmpty(replyList)}">
        <p>등록된 댓글이 없습니다.</p>
    </div>

    <table th:if="${!#lists.isEmpty(replyList)}">
        <tr>
            <th style="width:20%;">작성자</th>
            <th style="width:50%;">내용</th>
            <th style="width:30%;">작성일</th>
        </tr>

        <tr th:each="reply : ${replyList}">
            <td th:text="${reply.nickname}"></td>
            <td th:text="${reply.content}"></td>
            <td th:text="${#temporals.format(reply.createdAt, 'MM/dd HH:mm:ss')}"></td>
        </tr>
    </table>
    -->

    <div>
        <a th:href="@{/news/edit(id=${news.id})}" class="btn">수정하기</a>
        <a th:href="@{/news}" class="btn btn-secondary">목록으로</a>
    </div>
</div>
</body>
</html>