<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>스프링 게시판 - 목록</title>
    <link rel="stylesheet" href="/board/css/common.css">
    <link rel="stylesheet" href="/board/css/list.css">
</head>
<body>
<div class="container">
    <h1>게시글 목록</h1>
    <div class="nav">
        <a href="news">목록으로</a>
        <a href="news/write">새 글 쓰기</a>
    </div>

    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <!--th>이미지</th-->
            <th>작성일시</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${news}">
            <td th:text="${item.newsId}"></td>
            <td>
                <a th:href="@{/news/detail(id=${item.newsId})}" th:text="${item.title}"></a>
            </td>
            <!--td th:text="${item.image}"></td-->
            <td th:text="${item.createdAt}"></td>
            <td>
                <a th:href="@{/news/delete(id=${item.newsId})}" class="btn btn-danger">삭제</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>