<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>맛집 소식 작성</title>
    <link rel="icon" href="/favicon.ico">
    <!--    <link rel="stylesheet" href="/board/css/write.css">-->
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/postWrite.css}">
</head>
<body>

<div th:replace="~{layout/common :: nav-header}"></div>
<main class="wrapper">
    <div class="post-write-container">
        <div class="write-header">
            <h1 th:text="${newsForm.id == 0} ? '소식 등록' : '소식 수정'">리뷰 작성</h1>
            <div class="write-nav">
                <a th:href="@{/news}">목록으로</a>
                <span class="divider">|</span>
                <a th:href="@{/news/write}">새 글 쓰기</a>
            </div>
        </div>

        <form th:action="${newsForm.id == 0} ? @{/news/write} : @{/news/{id}/edit(id=${newsForm.id})}"
              method="POST" enctype="multipart/form-data" th:object="${newsForm}">
            <input type="hidden" th:field="*{id}">
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" id="title" th:field="*{title}" placeholder="제목을 입력하세요" required>
                <div class="field-error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">에러 메세지</div>
            </div>

            <div class="form-group">
                <label for="images">사진 첨부</label>
                <div th:if="${newsForm.id != 0}">
                    <p>현재 이미지</p>
                    <img th:src="@{/uploads/news/{image}(image=${newsForm.newsImage})}" width="150">
                    <p>새 이미지를 선택하면 기존 이미지는 변경됩니다.</p>
                </div>
                <input type="file" id="images" name="images" multiple accept="image/*"
                       th:required="${newsForm.id == 0}">
                <div class="field-error" th:if="${#fields.hasErrors('images')}" th:errors="*{images}"></div>
                <span>이미지는 한장은 필수로 첨부해야합니다.</span>
            </div>

            <div class="form-group">
                <label for="content">내용</label>
                <textarea id="content" th:field="*{content}" rows="10" placeholder="내용을 입력하세요" required></textarea>
                <div class="field-error" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">에러 메세지</div>
            </div>

            <div style="margin-top: 20px;">
                <button type="submit" class="btn" th:text="${newsForm.id == 0} ? '등록' : '수정'">등록</button>
                <a th:if="${newsForm.id == 0}" th:href="@{/news}" class="btn btn-secondary">취소</a>
                <a th:unless="${newsForm.id == 0}" th:href="@{/news/{id}(id=${newsForm.id})}"
                   class="btn btn-secondary">취소</a>
            </div>
        </form>
    </div>
</main>
</body>
</html>