<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>

    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="wrapper">
    <!-- 슬로건 -->
    <div class="slogan">
        <p>맛있는 한입을 <br>함께 나누다.</p>
        <h1>Byte &amp; Bite</h1>
    </div>

    <!-- 로그인 박스 -->
    <div class="login-box">
        <h2>Login</h2>

        <form action="/member/login" method="post" th:object="${loginForm}">
            <input type="email" th:field="*{email}" placeholder="Email" required>
            <div class="field-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            <input type="password" th:field="*{password}" placeholder="Password" required>
            <div class="field-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            <div class="field-error" th:if="${loginErrorMessage}" th:text="${loginErrorMessage}">에러 메세지</div>

            <button type="submit">로그인</button>
        </form>

        <div class="links">
            <a href="/member/signup">회원가입</a>
            <span>|</span>
            <a href="#">비밀번호 찾기</a>
        </div>
    </div>
</div>
</body>
</html>